.application-col {
  border-left: 1px solid #edebeb;
}

.application-row {
  border-bottom: 1px solid #373737;
  margin-bottom: 20px;
}

.application-row--col-1 {
  background-color: #fff;
  position: relative;
}

.application-row--col-2 {
  margin-left: 10px;
  text-decoration: underline;
  position: relative;
  top: 2px;
}