extends layouts/default

block content
  .content-col.form-col
    .content-title Форма для заполнения
    .content-notice Все поля обязательны для заполнения
    form.form
      label
        | Вакантная должность:
        input#vacancy(type='text', name='vacancy')
      label
        | Фамилия
        input#surname(type='text', name='surname')
      label
        | Имя
        input#name(type='text', name='name')
      label
        | Отчество
        input#patronymic(type='text', name='patronymic')
      label
        | Ваш возраст
        input#age(type='text', name='age')
      label
        | Паспорт (номер и серия без пробелов)
        input#password(type='text', name='password')
      label
        | Дата рождения
        input#birthday(type='text', name='birthday')
      label
        | О себе
        textarea#resume(type='text', name='resume')
      button#btnSubmit(type='button', value='Submit') Отправить форму
  .content-col.application-col
    .content-title Анкета кандидата
    .application-wrap
  script#application(type="text/template").
    <div class="application-row">
      <span class="application-row--col-1">на замещение вакантной должности</span>
      <span class="application-row--col-2"><%= vacancy %></span>
    </div>
    <div class="application-row">
      <span class="application-row--col-1">Ф.И.О.</span>
      <span class="application-row--col-2"><%= surname %> <%= name %> <%= patronymic %></span>
    </div>
    <div class="application-row">
      <span class="application-row--col-1">Дата рождения</span>
      <span class="application-row--col-2"><%= birthday %></span>
    </div>
    <div class="application-row">
      <span class="application-row--col-1">Возраст</span>
      <span class="application-row--col-2"><%= age %></span>
    </div>
    <div class="application-row">
      <span class="application-row--col-1">Паспорт (номер и серия)</span>
      <span class="application-row--col-2"><%= password %></span>
    </div>
    <div class="application-row">
      <span class="application-row--col-1">Коротко о себе</span>
      <span class="application-row--col-2"><%= resume %></span>
    </div>